@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #111827;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-500: #1B9C85;
  --color-acccent-500: #34D399;
  --color-light-500: #F9FAFB;
}


@layer base {
  
  h1 {
    @apply font-bold text-xl
  }
}





body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
