@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #111827;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-500: #1B9C85;
  --color-accent-500: #34D399;
  --color-light-500: #F9FAFB;
}


@layer base {
  
  h1 {
    @apply font-bold text-2xl
  }

  h2{
    @apply font-semibold text-xl
  }

  .input-base {
  @apply  text-sm rounded-lg block w-full p-2.5 shadow-xs
  }

  .input-normal {
  @apply bg-gray-50 border text-gray-900 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-gray-500
  }


  .input-error {
  @apply bg-red-50 border text-red-900 focus:outline-none ring-1 ring-red-500 border-red-500
  }
}





body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
